@import "null.css";

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Lato", "sans-serif";
	font-style: normal;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 810px;
	margin: 0 auto;
}

.main-1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	margin-bottom: 90px;
}

.image {
	margin-bottom: 60px;
}

.text-1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
	margin-bottom: 24px;
}

.text-2 {
	margin-bottom: 48px;
}

.up-text {
	margin-bottom: 36px;
}

.text-3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
	padding-left: 58px;
	margin-bottom: 48px;
}

.text-4 {
	margin-bottom: 24px;
}

.list {
	margin-bottom: 24px;
	padding-left: 32px;
}

.li {
	margin-bottom: 4px;
}

.text-5 {
	margin-bottom: 60px;
}
